<!DOCTYPE html>
<html lang="en">
<head>
  <title>Woo</title>
</head>
<body>
<h1>The website for the boys</h1>
{%if user_name!=""%}
<h2>Hello my boy {{user_name}}</h2>
{%else%}
<h2>Sign up or Log in!</h2>
{%endif%}
</body>